---
layout: default
title: 首页
description: 超哥的日志和笔记
---

<div class="home">
  <section id="articles">
    <h1>日志</h1>
    <ul>
    {% for post in site.posts %}
      <li>
        <span class="date">{{ post.date | date: '%F' }}</span>
        <a href="{{ post.url }}" title="{{ post.description }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </section>
  <section id="notes">
    <h1>笔记</h1>
    <ul>
    {% assign page_dir_collection = '' %}
    {% assign sorted_pages = site.pages | sort: 'url' %}

    {% for page in sorted_pages %}
      {% assign parts = page.url | replace_first: '/' | split: '/' %}
      {% if parts[0] == 'notes' %}
        {% assign note_dir = '' %}
        {% for part in parts %}
          {% if forloop.last %}
            {% assign page_dir_array = page_dir_collection | replace_first: '|' | split: '|' %}
            {% if page_dir_array contains note_dir %}
              {% continue %}
            {% else %}
              <li>
              {% assign page_dir_collection = page_dir_collection | append: '|' | append: note_dir %}

              {% assign parts = note_dir | replace_first: '/' | split: '/' %}
              {% for part in parts offset: 1 %}
                <span class="dir">{{ part }}</span>
              {% endfor %}

              {% for page in sorted_pages %}
                {% assign parts = page.url | replace_first: '/' | split: '/' %}
                {% if parts[0] == 'notes' %}
                  {% assign matching_note_dir = '' %}
                  {% for part in parts %}
                    {% if forloop.last %}
                      {% if matching_note_dir == note_dir %}
                        <a href="{{ page.url }}" title="{{ page.title }}">{{ part | replace: '.html' }}</a>
                      {% endif %}
                    {% else %}
                      {% assign matching_note_dir = matching_note_dir | append: '/' | append: part %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              </li>
            {% endif %}
          {% else %}
            {% assign note_dir = note_dir | append: '/' | append: part %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
  </section>
</div>
