---
layout: default
---

<article class="post">
  <h1 class="post-title">
    {% if page.date %}
      <span class="date">{{ page.date | date: '%F' }}</span>
    {% else %}
      {% assign parts = page.url | replace_first: '/' | split: '/' %}
      {% for part in parts %}
        {% if forloop.first or forloop.last %}
          {% continue %}
        {% else %}
          <span class="dir">{{ part }}</span>
        {% endif %}
      {% endfor %}
    {% endif %}
    {{ page.title }}
  </h1>
  <div class="post-content">
    {{ content }}
  </div>
</article>
